/* !Font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins:wght@400;500&family=Quicksand&display=swap");

body {
  /* font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.carousel img {
  height: 20rem;
  width: auto;
  background-size: cover;
}
.casual-shoes img {
  height: 20rem;
  width: auto;
}

.card-image {
  height: 6rem;
  width: auto;
}
